* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.main-section h1 {
    padding: 1rem 2rem;
    background-color: #333;
    color: #efefef;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.main-section .btn {
    padding: .5rem 1rem;
    background-color: #666;
    color: #eee;
    font-size: 15px;
    border-radius: 40px;
    outline: none;
    border: none;
}
.main-section .btn:hover {
    background-color: #444;
    transition: background .3s ease;
    cursor: pointer;
}